.bar {
    width: calc(100% - 24px);
    border-top: 1px solid #e5e5e5;
    margin: 0 12px;
    
    .action-button {
      margin-left: 20px;
      display: inline-block;
      font-size: 12px;
      font-weight: bold;
      color: #7f7f7f;
      cursor: pointer;
      
      &:before {
        content: '';
        background-image: url(https://www.facebook.com/rsrc.php/v2/yo/r/7-oMGl7sBZ-.png);
        display: inline-block;
        height: 14px;
        margin: 0 6px -3px 0;
        width: 14px;
        background-repeat: no-repeat;
        background-size: auto;
      }
      
      &:first-of-type {
        margin: 0;
        &:before {
          content: '';
          background-position: -47px -164px
        }
      }
      
      &:nth-of-type(2) {
        &:before {
          background-position: -32px -164px;
        }
      }
      
      &:nth-of-type(3) {
        &:before {
           background-position: -45px -181px;
        }
      }
      
      
      &:hover {
        text-decoration: underline;
      }
    }
  }