.comment-section {
    background-color: #f6f7f9;
    margin: 0;
  }
  
  .input {
    margin-top: 0;
    background-color: #f6f7f9;
    padding: 4px 12px 8px 12px;
    img {
      width: 32px;
      height: 32px;
      background-image: url('../../../assets/images/facebook_no_profile_pic.gif');
      background-size: cover;
      background-position: center;
      border: none;
      position: absolute;
    }
    
    textarea {
      background: #fff;
      border: 1px solid #bdc7d8;
      box-sizing: border-box;
      cursor: text;
      width: calc(100% - 40px);
      margin-left: 40px;
      padding: 7px;
      font-family: helvetica;
      outline: none;
      resize: none;
      overflow: hidden;
      height: 32px;
    }
  }
  
  